$header-color: #333;
$text-color: #333;

$link-color: #0088cc;
$link-hover-color: #0088cc;
$touch-tap-color: #0088cc;

$select-color: white;
$select-bg-color: black;

$error-color: #B94A48;
$success-color: #57A957;
$warn-color: #EEDC94;